{% extends 'home/base.html' %}
{% block title %}{{ newsandupdate.NU_Title }}{% endblock %}
{% load staticfiles %}
{% block body %}
     <div class="row">
        <div class="col s12" >
    <img src="{{ newsandupdate.NU_Logo.url }}" class="responsive-img" style="height: 500px; width: 100%;" >
        </div>
      </div>
		<div id="pricing" class="text-center">
			<div class="">
				<div class="row">
				<br><br><br>
    <div class="col s12 m12 l12  valign-wrapper news-banner" style="height: 200px;width: 100%;">
						<h2 class="make-white-text center-align" style="margin-left: 100px;">{{ newsandupdate.NU_Title }}</h2>
                        <h6 class="make-white-text center-align" style="margin-left: 100px;"><b>{{ newsandupdate.NU_Category }} posted by {{ newsandupdate.NU_Poster }} on {{ newsandupdate.NU_Posted }}</b></h6>
					</div>
          <div class="row container">
					<div class="col s12">
				    {{ newsandupdate.NU_Content|safe }}
<!--						<table style="width:100%">
  <tr>
    <th>Firstname</th>
    <th>Lastname</th>
    <th>Age</th>
  </tr>
  <tr>
    <td>Jill</td>
    <td>Smith</td>
    <td>50</td>
  </tr>
  <tr>
    <td>Eve</td>
    <td>Jackson</td>
    <td>94</td>
  </tr>
  <tr>
    <td>John</td>
    <td>Doe</td>
    <td>80</td>
  </tr>
</table>
-->
					</div>
          </div>
				</div>
			</div>
		</div>
		<!-- end news -->
{% endblock %}