{% extends 'home/base.html' %}
{% block title %}General Information{% endblock %}
{% load staticfiles %}
{% block body %}
  <br><br><br><br><br><br><br>
		<!-- start team -->
		<div class="col s12 valign-wrapper team-banner-2" style="height: 200px;width: 100%;">
				<h1 class="make-white-text center-align" style="margin-left: 100px;">The Lab and The Team</h1>
		</div>
				<div class="container">
					<div class="row">

						</div>
				</div>

 <div class="row container">
					<div class="col s12">
						<p style="text-align:center"><span style="font-size:20px"><b>The Purpose and Background of the Lab</b></span></p>
						<p style="text-align:justify"><span style="font-size:20px">To develop research projects specifically in the field of data sciences to further enhance and expand the knowledge of the students about Data Science. It also helps the students to have more knowledge thus opening lots of opportunities for the students because of the chance that they can present their studies nationally and internationally and gather fundings for their respective Capstone projects. This is the first and currently the only Data Analytics Lab in Mindanao.</span></p>

						<br>

						<p style="text-align:center"><span style="font-size:20px"><b>Current Projects Being Developed</b></span></p>
						<p style="text-align:justify"><span style="font-size:20px">HALANG: This study is about animal species specifically the endemic birds here in Mindanao and create datasets about them to help researchers who are currently studying or those researchers who are going to study about the animals and to provide the legitimacy of the data the data will be provided and inputted by DENR to the System.</span></p>
						<p style="text-align:justify"><span style="font-size:20px">TANOM: This study is about plants species specifically the endemic birds here in Mindanao and create datasets about them to help researchers who are currently studying or those researchers who are going to study about the animals and to provide the legitimacy of the data the data will be provided and inputted by DENR to the System.</span></p>


						<br>

						<p style="text-align:center"><span style="font-size:20px"><b>Resources Currently Available</b></span></p>
<p style="text-align:center"><span style="font-size:20px">Arduino kits, Raspberry Pi, 5 computer units, TV, Projector, White Glassboard, all inside an airconditioned room.</span></p>
	 					</div>


	 						<div class="col s6 push-s3 container center">

	          <img   src="{% static 'home/images/arduino-photo.jpg' %}">


          <img   src="{% static 'home/images/raspberry pi-photo.jpg' %}" style="height=400px; width=400px">
							</div>
          </div>


{% endblock %}